<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Resume</title>
  <style>
    iframe {
      width: 100%;
      height: 90vh;
      border: none;
    }
  </style>
</head>
<body>
  <h2>Resume Preview</h2>
  <iframe src="<%= resumeData %>" type="application/pdf"></iframe>
</body>
</html>
